.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #11164e;
    box-shadow: 0px 0px 12px #0b1425;
    border-radius: 8px;
}

.rank {
    margin: 10px 0px;
}

.rank-btn {
    border: 2px solid #8954f3;
    color: gold;
    box-shadow: 0px 0px 8px #8954f3 ;
    background-color: #8954f3;
    border-radius: 8px;
    padding: .2rem;
    margin-bottom: 10px;

}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .2rem 0;
}

td, th {
    padding: 6px;
    text-align: center;
}

th {
    background-color: #8954f3;
    border-radius: 8px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8954f3;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: whitesmoke;
}

.about h3 {
    margin: 1rem 0;
}

@media screen and (max-width: 800px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td, th {
        padding: 3px;
    }

    .coin-price {

        font-size: 14px;
        margin-right: 3px;
    }

    .coin-name {
        margin-left: -1px;
    }
}